*{
  box-sizing: border-box;
}

body{
  background-color: #282d35;
  color: white;
}

.container{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a.github {
  color:rgb(0, 0, 0) ;
}

a.facebook {
  color: #385eb1;
}

a.twitter {
  color: #3295e6d5;
}

a.instagram {
  color: #ec3929;
}
a.social {
  margin: 0 10px;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}

a.site{
  text-decoration: none;
  color: #6c7380;
}
.social{
  padding: 5px 5px;
  background:#1a1f27;
  text-align: center;
  color: white;
}
.info{
  color:rgba(221, 221, 221, 0.74);
  text-transform: capitalize;
  font-size: 14px;
}
.hacker{
  color: rgb(127, 136, 145);
}

.list{
  list-style: none;
  line-height: 47px;
}

.button-container{
 padding: 16px 20px;
 margin: 16px 20px;
 align-items: center; 
 text-align: center;
}

.email{
  text-align: center;
  padding:5px 16px;
  margin-right: 20px;
  background-color: rgb(46, 184, 46);
  border-radius: 5px;
  color: white;
  border: none;
  font-family:Arial, Helvetica, sans-serif;
}

.email > a{
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
}

.linkedin{
  justify-content: center;
  padding: 8px 24px;
  align-items: center;
  display: inline;
  background-color:rgba(52, 136, 245, 0.726);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.linkedin > a{
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 600;
}

button:hover{
 cursor: pointer;
}

img{
 background-attachment: fixed;
 border-radius: 5px;
}