*{
  box-sizing: border-box;
}
a.github {
  color:rgb(0, 0, 0) ;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #ee5446;
}
a.social {
  margin: 0 10px;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
.social{
  padding: 5px 5px;
  background: rgb(32, 31, 31);
  text-align: center;
  color: white;
}